body{
    font-family: Calibri;
}

.header-container {
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    position: fixed;
    background-color: #fff;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    -webkit-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);

    padding: 10px;
    cursor: hand;

    border-radius: 15px;
    transition: 0.3s;
}

.header:hover {
    background-color: #eee;
}


.header-expanded {
    top: 60px;
    display: none;
    position: fixed;
    background-color: #fff;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    -webkit-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);

    padding: 20px;
    margin: 10px;
    margin-left: 0px;
    
    border-radius: 15px;
}

.header-name {
    font-weight: bold;
    font-size: 22px;
}

.header-sandwich {
    margin-left: 10px;
}

.header-link {
    padding-right: 10px;
    font-family: Calibri;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
}

.summary{
    max-width: 75%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0px;
    font-size: 150%;
    font-weight: 300;
}

.introduction {
    padding-top: 60px;
}

.instructor{
    background-color: rgb(240, 240, 240);
    max-width: 300px;
    margin-top:10px;
    margin-left:10px;
    margin-right: 0px;
    padding-bottom: 50px;
}

.instructor-title{
    font-size: 30px;
    font-weight: 700;
    margin-left: 30px;
    padding-top: 15px;
}

.title{
    margin-left: 10px;
}

.instructor-name{
    margin-bottom: 15px;
    margin-left: 30px;
    font-weight: 300;
}

.instructor-contact{
    margin-left: 30px;
    font-weight: 300;
}

.news{
    margin-top: 10px;
}

.news-title{
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
    padding-bottom: 15px;
}

.news-date{
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
    padding-bottom: 10px;
}

.news-info{
    margin-left:10px;
    font-weight: 300;
    padding-bottom: 10px;
}

.lecture-schedule{
    margin-left:10px;
}

.lecture-schedule-title{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
}
.lecture-dates{
    text-align: center;
}

@media (max-width: 450px){
    .summary{
        max-width: 100%;
    }

    .instructor{
        margin-left: 0px;
        max-width: 100%;
    }
}

.lecture-list {
    margin-left: 10px;
}

.lecture-row {
    background-color: #E2E2E2;
    display: flex;

    padding: 20px;

    margin-top: 10px;
    margin-bottom: 10px;

    transition: 0.3s;
}

.lecture-row:hover {
    background-color: #1D1D1D;
    color: #fff;
}

a {
    color: #777;
}

.resources {
    padding: 10px;
}

.resources-header {
    font-size: 1.5em;
    font-weight: bold;
}

.resources-content-header {
    font-size: 2em;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}
