<html>

    <head>
        <title>Login</title>
    </head>

    <body>
        <div>
            <p>{{ error }}</p>
            <form action="/" method="post">
                <div class="dataRow">
                    <p>Username</p>
                    <input name="username" id="username" required/>
                </div>
                <div class="dataRow">
                    <p>Password</p>
                    <input name="password" id="password" type="password" required/>
                </div>
                <div class="dataRow">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </body>

</html>