<html>

<head>
    <title>Student Portal</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <h3><a href="/home">Home</a></h3>
    <h1>Student Portal: {{username}}</h1>

    <h5>{{notification}}</h5>

    <h3 class=secondary-title>Grades</h3>
    
    <table class=greyGridTable>
        <tr>
            <th>Course</th>
            <th>Assignment</th>
            <th>Grade</th>
            <th>Remark</th>
        </tr>

        {% for mark in marks %}
        <tr>
            <td>{{mark[4]}}</td>
            <td>{{mark[1]}}</td>
            <td>{{mark[2]}}</td>
            <td>
                {% if mark[3] == 1 %}
                    <input type="button" disabled value="Remark Requested" />
                    Reason: {{mark[5]}}
                {% else %}
                    <form action="/requestRemark" method="POST">
                        
                        <input type="hidden" name="mark_name" id="mark_name" value={{mark[1]}}>
                        <input type="hidden" name="s_username" id="s_username" value={{mark[0]}}>
                        <input type="hidden" name="class_id" id="class_id" value={{mark[4]}} >
                        <input type="text" placeholder="Reason" id="reason" name="reason">
                        <input type="submit" value="Request" />
                    </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>


    <h3 class=secondary-title>Feedback</h3>
    {% for instructor in profs %}
    <form class=feedback method="POST" action="/addFeedback">
            <div>Instructor: {{instructor}}</div>
            <div>What do you recommend the instructor to do to improve their teaching?</div>
            <input type="hidden" name="t_username" id="t_username" value={{instructor}} />
            <input type="hidden" name="s_username" id="s_username" value={{username}} />
            <div><input name="feedback" type="textarea" id="feedback"/></div>
            <input type="submit">
    </form>
    {% endfor %}

  

</body>

</html>