body{
    font-family: Roboto;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(min-width: 1400px) {
    .content {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media(min-width: 2100px) {
    .content {
        padding-left: 30%;
        padding-right: 30%;
    }
}

.header-container {
    display: flex;
    justify-content: flex-end;
}
.header {
    display: flex;
    position: fixed;
    background-color: #fff;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    margin-top: 10px;
    right: 10px;

    -webkit-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);

    padding: 10px;
    cursor: hand;

    border-radius: 15px;
    transition: 0.3s;

    width: 90px;
}

.footer {
    text-align: center;
    margin: 30px;
    margin-top: 70px;

    font-size: 14px;
    color: #999;

    line-height: 1.5;
}

.header:hover {
    background-color: #eee;
}


.header-expanded {
    top: 60px;
    display: none;
    position: fixed;
    background-color: #fff;
    flex-direction: column;

    padding: 20px;
    margin: 10px;
    
    border-radius: 15px;

    -webkit-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
}

.header-name {
    font-weight: bold;
    font-size: 15px;
}

.header-sandwich {
    margin-left: 10px;
}

.calendar iframe {
    border: 0;
    left: 0;
    top: 0;
    height: 500px;
    width: 100%;
}

.header-link {
    font-size: 16px;
    padding: 7px;
}

.summary{
    max-width: 75%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0px;
    font-size: 150%;
    font-weight: 300;
}


.intro-pic {
    background-image: url('https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg');
    background-size: cover;
    width: 100%;
    height: 700px;
    background-position: center bottom;
}

@media (max-width: 550px) {
    .intro-pic {
        width: 100%;
        height: 300px;
    }
    
}


.introduction {
    padding-top: 60px;
}

.instructor{
    background-color: rgb(240, 240, 240);
    max-width: 300px;
    margin-top:10px;
    margin-left:10px;
    margin-right: 0px;
    padding-bottom: 50px;
    transition: 0.3s;
}

.instructor-title{
    font-size: 30px;
    font-weight: 700;
    margin-left: 30px;
    padding-top: 15px;
}

.title{
    margin-left: 10px;
}

.instructor-name{
    margin-bottom: 15px;
    margin-left: 30px;
    font-weight: 300;
}

.instructor-contact{
    margin-left: 30px;
    font-weight: 300;
}

.news{
    margin-top: 10px;
}

.news-title{
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
    padding-bottom: 15px;
}

.news-date{
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
    padding-bottom: 10px;
}

.news-info{
    margin-left:10px;
    font-weight: 300;
    padding-bottom: 10px;
}

.lecture-schedule{
    margin-left:10px;
}

.lecture-schedule-title{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
}
.lecture-dates{
    text-align: center;
    border: 1px solid #dddddd;
}

.lecture-schedule td{
    width: 100px;
    border: 1px solid #dddddd;
}

.labs{
    margin-top: 10px;
    margin-left: 10px;
}

.labs-title{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
}

.labs-week{
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 5px;
}

.labs-file{
    padding-bottom:15px;
}

.assignments{
    margin-left: 10px;
}

.assignment-table{
    margin-top: 15px;
}
.assignments-title{
    font-size: 30px;
    font-weight: 700;
}
.assignment{
    background-color: rgb(240, 240, 240);
}

.announcement{
    background-color: rgb(240, 240, 240);
}
@media (max-width: 450px){
    .summary{
        max-width: 100%;
    }

    .instructor{
        margin-left: 0px;
        max-width: 100%;
    }
}

.lecture-list {
    margin-left: 10px;
    display: block;
}

.lecture-row {
   background-color: rgb(240, 240, 240);;

    padding: 20px;

    margin-top: 10px;
    margin-bottom: 10px;

    transition: 0.3s;
}

.lecture-row:hover {
    background-color: #1D1D1D;
    color: #fff;
}

a {
    color: #777;
}

.resources {
    padding: 10px;
}

.resources-header {
    font-size: 1.5em;
    font-weight: bold;
}

.resources-content-header {
    font-size: 2em;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

.secondary-title{
    font-weight: 400;
}

.feedback{
    background-color: rgb(240, 240, 240);
    font-weight: 300;
}

table.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
  }
  table.greyGridTable tbody td {
    font-size: 13px;
  }
  table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
  }
  table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
  }
  table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
  }
  table.greyGridTable thead th:first-child {
    border-left: none;
  }
  
  table.greyGridTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
  }
  table.greyGridTable tfoot td {
    font-size: 14px;
  }